Repository GoogleCloudPlatform/ml-auto-solutions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @richardsliu, @yixinshi, @RissyRan, @hyeygit, @zpcore, @ManfeiBai, @gobbleturk, @shralex, @jiangjy1982, @ortibazar, @parambole, @vipannalla, @crankshaw-google, @polydier1, @chandrasekhard2, @ZhaoyueCheng, @vanbasten23, @tengyifei, @tonyjohnchen, @raymondzouu, @sganeshb, @brajiang, @wlzhg, @aireenmei, @michelle-yooh, @jiya-zhang, @mailvijayasingh, @sixiang-google, @joezijunzhou, @singh-mitali, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Fix formatting errors
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix formatting errors
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Formatting fixes
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix aot script based on maxtext api change
  dags/multipod/maxtext_configs_aot.py
  dags/multipod/maxtext_configs_aot_hybridsim.py
Owners: @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982

Fix aot script based on maxtext api change (#712)
  dags/multipod/maxtext_configs_aot.py
  dags/multipod/maxtext_configs_aot_hybridsim.py
Owners: @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982

log steps and rename sample run
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Fix HybridSim test script to find updated HLO module names
  dags/multipod/maxtext_configs_aot_hybridsim.py
Owners: @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982

Fix HybridSim test script to find updated HLO module names (#713)
  dags/multipod/maxtext_configs_aot_hybridsim.py
Owners: @tonyjohnchen, @raymondzouu, @gobbleturk, @shralex, @RissyRan, @jiangjy1982

log steps and rename sample run (#711)
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Added extra tests for TPU Axlearn training
  dags/sparsity_diffusion_devx/configs/common.py
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Updated TPU unittests to cover more TPU types / JAX versions (#623)
  dags/sparsity_diffusion_devx/configs/common.py
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix formatting errors
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix training tests for TPU (#691)
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Updating a3ultra tests to match the new recipes (Consolidation of helm charts)
  dags/map_reproducibility/a3ultra/llama_3_1_405b_maxtext.py
  dags/map_reproducibility/a3ultra/llama_3_1_405b_nemo.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_maxtext.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_nemo.py
  dags/map_reproducibility/a3ultra/mixtral_8_7b_nemo.py
  dags/map_reproducibility/tests/test_common_utils.py
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

quarantine moe gpu e2e tests with pinned image
  dags/common/quarantined_tests.py
  dags/sparsity_diffusion_devx/maxtext_moe_gpu_e2e.py
Owners: @richardsliu, @yixinshi, @RissyRan, @hyeygit, @zpcore, @ManfeiBai, @gobbleturk, @shralex, @jiangjy1982, @ortibazar, @parambole, @vipannalla, @crankshaw-google, @polydier1, @aireenmei, @michelle-yooh

Updating a3ultra tests to match the new recipes (Consolidation of helm charts) (#714)
  dags/map_reproducibility/a3ultra/llama_3_1_405b_maxtext.py
  dags/map_reproducibility/a3ultra/llama_3_1_405b_nemo.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_maxtext.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_nemo.py
  dags/map_reproducibility/a3ultra/mixtral_8_7b_nemo.py
  dags/map_reproducibility/tests/test_common_utils.py
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

[GCS Regression Test] Set up repos and paths for GCS regression tests
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

[GCS Regression Test] Extract workload configs needed by GCS regression tests
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

[GCS Regression Test] Add regresstion test for GCSFuse llama3.1-70b NeMo benchmark
  dags/map_reproducibility/a3mega/llama_3_1_70b_nemo_gcsfuse.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

[GCS Regression Test] Trigger GCS run results generator to calculate and upload metrics
  dags/map_reproducibility/utils/common_utils.py
  dags/map_reproducibility/utils/gcs_automation_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Remove Llama 2 13B from v5e perf tests
  dags/common/model_configs.py
Owners: @richardsliu, @yixinshi, @RissyRan, @hyeygit, @zpcore, @ManfeiBai, @gobbleturk, @shralex, @jiangjy1982, @ortibazar, @parambole, @vipannalla, @crankshaw-google, @polydier1

Updating recipe for Nemo 2 nodes and cleaning commented lines
  dags/map_reproducibility/a3ultra/llama_3_1_405b_nemo.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_nemo.py
  dags/map_reproducibility/a3ultra/nemo_two_node.py
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Upload tensorboard metrics to BigQuery for maxdiffusion tpu e2e test (#706)
  dags/sparsity_diffusion_devx/configs/gke_config.py
  dags/sparsity_diffusion_devx/maxdiffusion_tpu_e2e.py
  xlml/apis/task.py
  xlml/utils/metric.py
  xlml/utils/metric_test.py
  xlml/utils/name_format.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @richardsliu, @yixinshi, @hyeygit

Updating recipe for Nemo 2 nodes and cleaning commented lines (#717)
  dags/map_reproducibility/a3ultra/llama_3_1_405b_nemo.py
  dags/map_reproducibility/a3ultra/llama_3_1_70b_nemo.py
  dags/map_reproducibility/a3ultra/nemo_two_node.py
  dags/map_reproducibility/utils/common_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

Expanded Axlearn test coverage for TPU testing
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fixed white spacing
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix formatting errors
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fix potential error if test retries
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

Fixed formatting error
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
  dags/sparsity_diffusion_devx/project_bite_tpu_e2e.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

[GCS Regression Test] Fix the MFU and step time exporting
  dags/map_reproducibility/a3mega/llama_3_1_70b_nemo_gcsfuse.py
  dags/map_reproducibility/utils/common_utils.py
  dags/map_reproducibility/utils/gcs_automation_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

quarantine moe gpu e2e tests with pinned image (#715)
  dags/common/quarantined_tests.py
  dags/sparsity_diffusion_devx/maxtext_moe_gpu_e2e.py
Owners: @richardsliu, @yixinshi, @RissyRan, @hyeygit, @zpcore, @ManfeiBai, @gobbleturk, @shralex, @jiangjy1982, @ortibazar, @parambole, @vipannalla, @crankshaw-google, @polydier1, @aireenmei, @michelle-yooh

Added commenting for pass/failure cases for unittests.
  dags/sparsity_diffusion_devx/configs/project_bite_config.py
Owners: @RissyRan, @parambole, @jiangjy1982, @aireenmei, @michelle-yooh, @jiya-zhang

[GCS Regression Test] Format the change
  dags/map_reproducibility/a3mega/llama_3_1_70b_nemo_gcsfuse.py
  dags/map_reproducibility/utils/common_utils.py
  dags/map_reproducibility/utils/gcs_automation_utils.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

maxtext-inference DAG
  dags/map_reproducibility/internal_runs/a3mega_maxtext_inference_benchmarking_dags.py
  dags/map_reproducibility/internal_runs/dag_configs_inference.py
  dags/map_reproducibility/utils/common_utils_inference.py
  dags/map_reproducibility/utils/internal_aotc_inference_workload.py
Owners: @crankshaw-google, @polydier1, @gunjanj007, @stingram, @utkarshsharma1, @cneel8986, @Doris26, @wang2yn84, @zshu188

.github/CODEOWNERS:

# Default owners for everything in the repo, unless a later match takes precedence.
* @richardsliu @yixinshi @RissyRan @hyeygit

dags/common @richardsliu @yixinshi @RissyRan @hyeygit @zpcore @ManfeiBai @gobbleturk @shralex @jiangjy1982 @ortibazar @parambole @vipannalla @crankshaw-google @polydier1

dags/solutions_team/configs/tensorflow @chandrasekhard2 @ZhaoyueCheng @richardsliu
dags/solutions_team/solutionsteam_tf* @chandrasekhard2 @ZhaoyueCheng @richardsliu

dags/pytorch_xla @vanbasten23 @zpcore @ManfeiBai
dags/legacy_test/tests/pytorch @vanbasten23 @zpcore @ManfeiBai

dags/mantaray @ManfeiBai @tengyifei @zpcore

dags/multipod @tonyjohnchen @raymondzouu @gobbleturk @shralex @RissyRan @jiangjy1982

dags/mlcompass @ortibazar @sganeshb @brajiang @wlzhg

dags/sparsity_diffusion_devx @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh
dags/sparsity_diffusion_devx/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang
dags/sparsity_diffusion_devx/configs/project_bite* @RissyRan @parambole @jiangjy1982 @aireenmei @michelle-yooh @jiya-zhang

dags/inference @vipannalla @mailvijayasingh @sixiang-google @joezijunzhou @singh-mitali

dags/map_reproducibility @crankshaw-google @polydier1 @gunjanj007 @stingram @utkarshsharma1 @cneel8986 @Doris26 @wang2yn84 @zshu188
